{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %} {% endblock %}
  </head>
  <body>
    <div id="root">
      <nav>
        <a href="/home/" >Home</a>
        <a href="/login/" >login</a>

        {% if user.is_authenticated %}
        <!-- Kullanıcı giriş yapmışsa -->
        <a href="#" onclick="loadPage('profile')">Profile</a>
        {% comment %} <a href="{% url 'logout' %}">Logout</a> {% endcomment %}
        {% else %}
        <!-- Kullanıcı giriş yapmamışsa -->
        {% comment %} <a href="{% url 'login' %}">Login</a> {% endcomment %}
        {% comment %} <a href="{% url 'signup' %}">Sign Up</a> {% endcomment %}
        {% endif %}
      </nav>
      {% block root %}
      <div>
        <h1 class="text-red-500">Transbackend</h1>
        <p>Transbackend is a simple backend template for your project.</p>
      </div>
      {% endblock %}
    </div>
  </body>
  <script src="{% static 'js/routes.js' %}"></script>
  {% block scripts %} {% endblock %}
</html>
