{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static "/css/login.css" %}">
    <title>Login</title>
</head>

<body>
<div class="login-container">
    <div class="form-wrapper">
        <div class="form-container sign-up-container">
            <form id="registerForm">
                <h1 class="login-h1">Create Account</h1>
                <input id="register-username" type="text" placeholder="UserName" />
                <input id="register-email" type="email" placeholder="Email" />
                <input id="register-password" type="password" placeholder="Password" />
                <button type="submit" >Sign Up</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form id="signInForm">
                <h1 class="login-h1">Sign in</h1>
                <input id="login-email" type="email" placeholder="Email" />
                <input id="login-password" type="password" placeholder="Password" />
                <a href="#">Forgot your password?</a>
                <button id="login-button" type="submit" >Sign In</button>
            </form>
        </div>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h2 class="login-h2">Welcome Back!</h2>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" onclick="togglePanel(false)" id="signInBtn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h2 class="login-h2">Hello, Friend!</h2>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" onclick="togglePanel(true)" id="signUpBtn">Sign Up</button>
            </div>
        </div>
    </div>
</div>
</body>
