.home-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-width: 800px;
  width: 100%;
}

.card {
  background-color: var(--background-color);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  padding: 20px;
  width: fit-content;
  max-width: 380px;
}


.card:nth-child(3) {
  width: 100%;
  max-width: 100%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 1.5rem;
}

.card-content h2 {
  color: #e1e1e1;
  margin-bottom: 1rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 12px;
  flex-direction: row-reverse;
  width: fit-content;
}

.card-content p {
  color: var(--text-color, #666);
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

.card-button {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background-color: var(--primary-color, #007bff);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.card-button:hover {
  background-color: var(--secondary-color);
}

.button-group {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 780px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .card:nth-child(3) {
    width: 100%;
    max-width: 380px;
  }

  .card {
    max-width: 380px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 100%;
    max-width: 80%;
  }

  .card:nth-child(3) {
    width: 100%;
    max-width: 80%;
  }
}