#tournament_pongCanvas {
    width: 800px;
    height: 400px;
    background-color: #1E1E1E;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: none;
}

.tournament_paddle {
    width: 10px;
    height: 80px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
}

#tournament_paddleLeft {
    left: 10px;
    top: 160px;
}

#tournament_paddleRight {
    right: 10px;
    top: 160px;
}

.tournament_ball {
    width: 15px;
    height: 15px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
}

#tournament_score {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#tournament_startMessage {
    color: white;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tournament_tournamentSetup,
#tournament_playerNames,
#tournament_roundInfo,
#tournament_matchResult {
    margin-top: 20px;
}

#tournament_playerNames,
#tournament_roundInfo,
#tournament_pongCanvas {
    display: none;
}

#tournament_restartButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#tournament_restartButton:hover {
    background-color: #e03a3a;
}

.tournament_hidden {
    display: none;
}