.users-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.users-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    padding: 20px;
    height: 80dvh;
    overflow: auto;
}

.user-card {
    background-color: var(--component-bg-color);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    transition: transform 0.2s;
}

.user-card:hover {
    transform: translateY(-5px);
    cursor: pointer;
}

.user-image {
    position: relative;
    margin-right: 15px;
}

.profile-picture {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
}

.user-info {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.user-info .username {
    color: var(--text-color);
    font-size: 1.1em;
    margin: 0 0 5px 0;
}

.user-info .status {
    font-size: 0.9em;
    color: var(--text-color-secondary);
}

@media screen and (max-width: 768px) {
    .users-list {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 480px) {
    .users-list {
        grid-template-columns: 1fr;
    }
}

.go-to-profile-button {
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 0;
    margin-left: 30px;
}