{% load static %} {% load i18n %}
<head>
  <title>{% trans "Pong Game" %}</title>
  <link rel="stylesheet" href="{% static 'css/ai-game.css' %}" />
</head>
<body>
  <div id="ai_pongCanvas">
    <div id="ai_score">0 : 0</div>
    <div id="ai_startMessage">{% trans "Press Space to Start" %}</div>
    <div id="ai_paddleLeft" class="ai_paddle"></div>
    <div id="ai_paddleRight" class="ai_paddle"></div>
    <div id="ai_ball" class="ai_ball"></div>
  </div>
  <script src="{% static 'js/ai-game.js' %}" data-static="true"></script>
</body>
