{% load static %} {% load i18n %}

<head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{% static '/css/header.css' %}"
  />
  <script src="{% static '/js/header.js' %}" defer></script>
</head>

<header>
  <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-content">
        <div class="logo">
          <a href="/" class="logo-link">
            <span class="logo-text">Transbackend</span>
          </a>
        </div>
        <div class="nav-links" id="desktop-nav">
          <a href="/" class="nav-link">{% trans "Home" %}</a>
          {% if user.is_authenticated %}
          <a href="/profile" class="nav-link">{% trans "Profile" %}</a>
          <a href="/logout" class="nav-link">{% trans "Logout" %}</a>
          {% else %}
          <a href="/login" class="nav-link">{% trans "Login" %}</a>
          {% endif %}
          <div class="language-select-container">
            <select id="lang-select" class="language-select" >
              <option value="en-US">English</option>
              <option value="tr-TR">Türkçe</option>
              <option value="fr-FR">Français</option>
            </select>
          </div>
        </div>
        <!-- Hamburger Menu -->
        <div id="burger" class="hamburger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </nav>
  <!-- Burger Drawer Menu -->
  <div id="burger-drawer" class="burger-menu">
    <div id="burger" class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <ul>
      <li><a href="/" class="nav-link">{% trans "Home" %}</a></li>
      {% if user.is_authenticated %}
      <li><a href="/profile" class="nav-link">{% trans "Profile" %}</a></li>
      <li><a href="/logout" class="nav-link">Logout</a></li>
      {% else %}
      <li><a href="/login" class="nav-link">{% trans "Login" %}</a></li>
      {% endif %}
    </ul>
    <div class="language-select-container">
      <select id="lang-select" class="language-select" >
        <option value="en">English</option>
        <option value="tr">Türkçe</option>
        <option value="fr">Français</option>
      </select>
    </div>
  </div>
  </div>
</header>
