{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static '/css/header.css' %}" />
</head>

<header>
  <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-content">
        <div class="logo">
          <a href="/" class="logo-link">
            <span class="logo-text">Transbackend</span>
          </a>
        </div>
        <div class="nav-links">
          <a href="/" class="nav-link">Home</a>
          {% if user.is_authenticated %}
            <a href="/profile" class="nav-link">Profile</a>
            <a href="/logout" class="nav-link">Logout</a>
          {% else %}
            <a href="/login" class="nav-link">Login</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>
