{% load static %}
{% load i18n %}

<head>
  <link data-static="true" rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
  <title>Home</title>
</head>

<body>
  <div class="home-container">
    <h1>Ping Pong'a Hoş Geldiniz!</h1>
    <p>Reflekslerini test etmeye hazır mısın?</p>
    {% if user.is_authenticated %}
      <a href="/game" class="play-button">Oyna</a>
    {% else %}
      <a href="/login" class="play-button">Go To Login</a>
    {% endif %}
  </div>
  <script data-static="true" src="{% static 'js/home.js' %}"></script>
</body>  