{% load static %} {% load i18n %}

<head>
  <link
    data-static="true"
    rel="stylesheet"
    type="text/css"
    href="{% static '/css/login.css' %}"
  />
  <title>{% trans "Login" %}</title>
</head>
<body>
  <div class="login-card">
    <h2>{% trans "Welcome Back" %}</h2>
    <p>{% trans "Please login to your account" %}</p>
    <form id="loginForm" onsubmit="event.preventDefault(); login();">
      <!-- Username Input -->
      <div class="input-group">
        <label for="username"> {% trans "Username" %} </label>
        <input type="text" id="username" placeholder={% trans "Enter your username" %} />
        <span class="error-message" id="usernameError"></span>
      </div>
      <!-- Password Input -->
      <div class="input-group">
        <label for="password">{% trans "Password" %}</label>
        <input type="password" id="password" placeholder={% trans "Enter your
        password" %} />
        <span
          id="togglePassword"
          class="toggle-password"
          onclick="togglePassword()"
        >
        </span>
        <span class="error-message" id="passwordError"></span>
      </div>

      <!-- Forgot Password Link -->
      <div class="forgot-password">
        <a href="/forgot-password"> {% trans "Forgot your password?" %}</a>
      </div>
      <!-- General Error Message -->
      <p class="general-error-message" id="generalError"></p>

      <!-- Login Button -->
      <button type="submit" class="login-btn">{% trans "Log In" %}</button>
    </form>
    <div class="register-link">
      {% trans "Don't have an account?" %}
      <a href="/register">{% trans "Register here" %}</a>
    </div>
  </div>

  <script data-static="false" src="{% url 'javascript-catalog' %}"></script>
  <script data-static="true" src="{% static '/js/login.js' %}"></script>
</body>
