{% load static %}
{% load i18n %}

<head>
  <link
    data-static="true"
    rel="stylesheet"
    type="text/css"
    href="{% static '/css/profile.css' %}"
  />
  <title>{{ user.username }}</title>
</head>

<body>
  <div class="profile-card">
    <img
      class="profile-picture"
      src="{% if user.profile_picture %}{{ user.profile_picture }}{% else %}{% static 'images/default-profile.webp' %}{% endif %}"
      alt="{% trans 'Profile Picture' %}"
    />
    <h1>{{ user.username }}</h1>
    <p class="status">
      {% if is_self or user.is_online %}
      <span class="online">{% trans "Online" %}</span>
      {% else %}
      <span class="offline">{% trans "Offline" %}</span>
      {% endif %}
    </p>

    <div class="stats">
      <p>{% trans "Games Played:" %} <span>{{ user.games_played }}</span></p>
      <p>{% trans "Games Won:" %} <span>{{ user.games_won }}</span></p>
    </div>

    <h2>{% trans "Last 5 Games:" %}</h2>
    <ul class="last-games">
      {% for game in last_games %}
      <li>
       - {{ game }}
      </li>
      {% empty %}
      <li>{% trans "No games played yet." %}</li>
      {% endfor %}
    </ul>

    {% if not is_self %}
    <button class="btn btn-primary" onclick="sendFriendRequest('{{ user.username }}')" id="addFriendButton">
      {% trans "Add Friend" %}
    </button>
    {% endif %}
  </div>
  <script data-static="true" src="{% url 'javascript-catalog' %}"></script>
  <script data-static="true" src="{% static 'js/profile.js' %}"></script>
</body>
