{% load static %} {% load i18n %}
<head>
  <title>{% trans "Pong Tournament" %}</title>
  <link
    rel="stylesheet"
    href="{% static 'css/tournament.css' %}"
    data-static="true"
  />
</head>
<body>
  <div id="tournament_tournamentSetup">
    <h1>{% trans "Pong Tournament" %}</h1>
    <label for="numPlayers">{% trans "Enter number of players (4 or 8):" %}</label>
    <input type="number" id="numPlayers" min="4" max="8" step="4" />
    <button onclick="startTournament()">{% trans "Start Tournament" %}</button>
  </div>

  <div id="tournament_playerNames">
    <h2>{% trans "Enter Player Usernames" %}</h2>
    <div id="tournament_nameInputs"></div>
    <button onclick="startGame()">{% trans "Start Tournament Matches" %}</button>
  </div>

  <div id="tournament_roundInfo">
    <h2>{% trans "Round Info" %}</h2>
    <button id="restartButton" onclick="restartTournament()">
      {% trans "Restart Tournament" %}
    </button>
    <div id="tournament_matchupList"></div>
  </div>

  <div id="tournament_matchResult"></div>

  <div id="tournament_pongCanvas">
    <div id="tournament_score">0 : 0</div>
    <div id="tournament_startMessage">{% trans "Press Space to Start" %}</div>
    <div id="tournament_paddleLeft" class="tournament_paddle"></div>
    <div id="tournament_paddleRight" class="tournament_paddle"></div>
    <div id="tournament_ball" class="tournament_ball"></div>
  </div>
  <script src="{% static 'js/tournament.js' %}" data-static="true"></script>
</body>
