{% load static %} {% load i18n %}
<head>
  <title>{% trans "Pong Tournament" %}</title>
  <link
    rel="stylesheet"
    href="{% static 'css/tournament.css' %}"
    data-static="true"
  />
</head>
<body>
  <div id="tournament_tournamentSetup">
    <h1>{% trans "Pong Tournament" %}</h1>
    <div class="button-group">
      <button onclick="tournament_startTournament(4)">
        {% trans "4 Player Tournament" %}
      </button>
      <button onclick="tournament_startTournament(8)">
        {% trans "8 Player Tournament" %}
      </button>
    </div>
  </div>

  <div id="tournament_playerNames">
    <h2>{% trans "Enter Player Usernames" %}</h2>
    <div id="tournament_nameInputs"></div>
    <div class="button-group">
      <button onclick="tournament_startGame()">
        {% trans "Start Tournament Matches" %}
      </button>
    </div>
  </div>
  <div id="tournament_roundInfoContainer">
    <div id="tournament_matchResult"></div>

    <div id="tournament_pongCanvas">
      <div id="tournament_score">0 : 0</div>
      <div id="tournament_startMessage">{% trans "Press Space to Start" %}</div>
      <div id="tournament_paddleLeft" class="tournament_paddle"></div>
      <div id="tournament_paddleRight" class="tournament_paddle"></div>
      <div id="tournament_ball" class="tournament_ball"></div>
    </div>

    <div id="tournament_roundInfo">
      <h2>{% trans "Round Info" %}</h2>
      <div class="button-group">
        <button id="restartButton" onclick="tournament_restartTournament()">
          {% trans "Restart Tournament" %}
        </button>
      </div>
      <div id="tournament_matchupList"></div>
    </div>
  </div>

  <script src="{% static 'js/tournament.js' %}" data-static="true"></script>
</body>
