{% load static %} {% load i18n %}

<head>
  <title>{% trans "Pong Game" %}</title>
  <link rel="stylesheet" href="{% static 'css/two-game.css' %}" />
</head>
<body>
  <div id="two_pongCanvas">
    <div id="two_score">0 : 0</div>
    <div id="two_startMessage">{% trans "Press Space to Start" %}</div>
    <div id="two_paddleLeft" class="two_paddle"></div>
    <div id="two_paddleRight" class="two_paddle"></div>
    <div id="two_ball" class="two_ball"></div>
  </div>
  <script src="{% static 'js/two-game.js' %}" data-static="true"></script>
</body>
